<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bookmarklet: hide issuecomment for GitHub</title>
  </head>
  <body>
    <h1>Bookmarklet: hide issuecomment for GitHub</h1>
    <div>
      <a href="<%= @bookmarklet %>">Bookmarklet: hide issuecomment for GitHub</a>
    </div>
  </body>
</html>
